name: Automation Anypoint

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "anypoint-generic"
  anypoint-generic:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Installing Anypoint CLI
        run: npm install -g anypoint-cli-v4

      - name: Credentials Configuration
        run: anypoint-cli-v4 conf client_id ${{secrets.CA_CLIENT_ID}} && anypoint-cli-v4 conf client_secret ${{secrets.CA_CLIENT_SECRET}} && anypoint-cli-v4 conf organization 5175938b-24d5-4b48-bc5e-984db17e7943

      - name: Print Account Information
        run: anypoint-cli-v4 account:user:describe
        
      - name: List All Applications
        run: anypoint-cli-v4 runtime-mgr:application:list --environment Sandbox --output json

        
